body {
    font-family: Arial, sans-serif;
    background-color: #5a0918;

    color: #ffffff; 
    margin: 0;
    padding: 20px;
}

form {
    background-color: #ffffff; 
    width: 90%;
    margin: 50px auto;
    border-radius: 0.8rem;
    padding: 20px;
    box-sizing: border-box;
    color: rgb(67, 121, 67);
}

h1, h2 {
    text-align: center;
}

.h1 {
    border-top: 4px solid rgb(255, 255, 255); 
    border-bottom: 4px solid rgb(255, 255, 255); 
    text-align: center; 
    padding: 10px 0; 
}
